.custom-controls-container {
    z-index: 999;
    color: #f5fbef;
    border-top: 1px solid #7C898B;
    background-color: rgba(4, 15, 15, 0.7); /*rgb value of #040f0f*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/**********************************************MAIN BODY DESIGN**********************************************/
.image-container {
    z-index: 997;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.image-container div { 
    margin-top: auto; 
}

.image-container h2 { 
    margin-bottom: auto; 
}

.image-container img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 10px #040f0f;
    height: 100%;
    width: 100%;
    max-height: 250px;
    max-width: 250px;
}

/**********************************************CUSTOM CONTROLS (UPPER HALF) DESIGN**********************************************/
.custom-controls-buttons {
    display: flex;
    flex-direction: row;
    max-height: 81px;
    overflow: hidden;
}

.button-group:first-child > div { 
    padding-left: 10px;
    margin-right: auto; 
}

.visualizer-controls {
    display: flex;
    align-items: center;
}

.button-group:last-child > div { 
    margin-right: 10px;
    margin-left: auto; 
}

.custom-controls-buttons .button-group{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-controls-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.custom-controls-details p{
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 200;
}

/**********************************************BUTTON GROUP DESIGN**********************************************/
.custom-controls-buttons {
    align-self: center;
    justify-self: center;
}

.play-button, .pause-button {
    font-size: calc(24px + 2vmin);
    color: #f5fbef;
    background-color: rgba(0, 0, 0, 0); /*transparent*/
    cursor: pointer;
    border: none;
    margin: 15px 0px ;
    max-width: 51px;
    overflow: hidden;
}

.prev-button, .next-button {
    font-size: calc(12px + 2vmin);
    color: #f5fbef;
    background-color: rgba(0, 0, 0, 0); /*transparent*/
    cursor: pointer;
    border: none;
    margin: 15px 0px ;
    max-width: 51px;
    overflow: hidden;
}

.repeat-button {
    font-size: calc(8px + 2vmin);
    color: #f5fbef;
    background-color: rgba(0, 0, 0, 0); /*transparent*/
    cursor: pointer;
    border: none;
    margin-right: 15px;
    max-width: 51px;
    overflow: hidden;
}

.repeat-button.selected {
    font-size: calc(8px + 2vmin);
    color: rgba(4, 15, 15, 0.7); /*rgb value of #040f0f*/
    background-color: #f5fbef;
    cursor: pointer;
    border: none;
    margin-right: 15px;
    max-width: 51px;
    border-radius: 15%;
    overflow: hidden;
}

.playlist-toggle {
    font-size: calc(8px + 2vmin);
    color: #f5fbef;
    background-color: rgba(0, 0, 0, 0); /*transparent*/
    cursor: pointer;
    border: none;
    margin: 15px 0px ;
}

.playlist-toggle.selected {
    font-size: calc(8px + 2vmin);
    color: rgba(4, 15, 15, 0.7); /*rgb value of #040f0f*/
    background-color: #f5fbef;
    cursor: pointer;
    border: none;
    border-radius: 15%;
    margin: 15px 0px ;
}

.play-button:hover, .pause-button:hover {
    font-size: calc(26px + 2vmin);
}

.prev-button, .shuffle-button {
    margin-right: 25px;
}

.next-button, .repeat-button {
    margin-left: 25px;
}

/**********************************************SLIDER GROUP DESIGN**********************************************/
.custom-controls-track {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.custom-controls-track span{
    padding: 0 10px;
}

.custom-controls-track input{
    flex: 1;
    align-self: stretch;
    margin-right: 10px;
}

/**********************************************PLAYLIST DESIGN**********************************************/
.playlist-container {
    z-index: 998;
    position: absolute;
    background-color: rgba(4, 15, 15, 0.7); /*rgb value of #040f0f*/
    border-left: 1px solid #7C898B;
    right: 0;
}

.playlist-container .playlist-item{
    padding: 20px 30px;
    text-align: left;
    border-top: 1px solid #7C898B;
    cursor: pointer;
}

.playlist-container .playlist-item.playing{
    color: rgba(4, 15, 15, 0.7); /*rgb value of #040f0f*/
    background-color: #f5fbef;
}

.playlist-container .playlist-item:hover{
    background-color: rgba(245, 251, 239, 0.3); /*rgb value of #f5fbef*/
}

.playlist-container .playlist-item.playing:hover{
    color: rgba(4, 15, 15, 0.7); /*rgb value of #040f0f*/
    background-color: #f5fbef;
}