.music-body {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-body h2{
    z-index: 3;
    margin-bottom: 0;
    font-size: calc(24px + 2vmin);
}

.music-player-container {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}