.music-container {
    z-index: 2;
    padding-left: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.music-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 20%;
}

.music-player {
    display: flex;
    flex-direction: row;
}

.controls {
    background-color: #040f0f;
    color: #f5fbef;
    z-index: 99;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    border: 2px solid #040f0f;

}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 150px;
    max-width: 150px;
}

.player audio {
    z-index: 1;
    width: 100%;
    /* position: absolute; */
    bottom: 0;
}

.player img {
    z-index: 1;

    height: 100%;
    width: 100%;
    bottom: 0;

    max-width: 450px;
    max-height: 450px;
}

.controls .details {
    display: flex;
    flex-direction: row;
}

.controls .details .text {
    width: 50%;
    margin-top: 0;
    padding-left: 15px;
    padding-bottom: 15px;
    justify-self: center;
}

.controls .details h2{
    margin-top: 0;
    font-size: calc(12px + 2vmin);
    font-weight: 200;
}

.controls .details p{
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 200;
}

.controls .arrows {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.left-arrow, .right-arrow {
    font-size: calc(36px + 2vmin);
    font-weight: 200;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    user-select: none;
}

.left-arrow:hover, .right-arrow:hover {
    cursor: pointer;
}

.audio-player {
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.audio-player audio{
    width: 100%;
}

audio::-webkit-media-controls-enclosure {
    border-radius: 0 !important;
    color: #040f0f;
}

audio::-webkit-media-controls-slider-container {
    color: #f5fbef;
}

.music-player-details p {
    font-size: calc(6px + 2vmin);
}