.About {
  text-align: center;
  background-color: #040f0f;
  color: #f5fbef;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.About h2 {
  font-size: calc(36px + 2vmin);
  margin-top: 0;
}

.About-left {
    padding-left: calc(10px + 2vmin);
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.About-text {
    text-align: left;
    font-size: calc(6px + 2vmin);
}

.About-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
    justify-content: right;
}

.About-right img {
    height: 75%;
    width: 75%;
}
