.Header {
  text-align: center;
}

.Header-site {
  font-size: calc(50px + 2vmin);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header-text{
  margin-bottom: 0;
}

.Header-scroll-for-more {
  margin-top: 0;
  font-size: calc(10px + 2vmin);
}

.Header-caret-down-block{
  font-size: calc(5px + 2vh);
}

.Header-caret-down-1{
  margin-top: 0;
  margin-bottom: 0;
  animation: flickerAnimation 1s infinite;
}

.Header-caret-down-2{
  margin-top: 0;
  margin-bottom: 0;
  animation: flickerAnimation 1s infinite;
  animation-delay: 0.1s;
}

.Header-caret-down-3{
  margin-top: 0;
  margin-bottom: 0;
  animation: flickerAnimation 1s infinite;
  animation-delay: 0.2s;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}
