.App{
    /* IE, Firefox, Edge */
    /* -ms-overflow-style: none;  
    scrollbar-width: none; */
    background-color: #040f0f;
    color: #f5fbef;
}

::-webkit-scrollbar {
    /*Chrome*/
    /* display: none; */
}
